.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featuresTitle {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: var(--ifm-color-primary);
  position: relative;
  padding-bottom: 1rem;
}

.featuresTitle:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: var(--ifm-color-primary);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.featureCard {
  height: 100%;
  padding: 2rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

[data-theme='dark'] .featureCard {
  background-color: var(--ifm-color-primary-darkest);
}

.featureCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.featureIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--portal-web-highlight-color);
  margin-bottom: 1.5rem;
}

.featureIcon {
  font-size: 2.5rem;
  color: var(--ifm-color-primary);
}

.featureTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--ifm-color-primary);
}

.featureDescription {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--ifm-font-color-base);
}

[data-theme='dark'] .featureDescription {
  color: var(--ifm-color-primary-lightest);
}
